nav{
	height: 80px;
}

header{
	float: left;
	width: 100%;
}

nav div a img{
	height: 80px;
}

.container{
	width:1140px;
	margin: 0 auto;
}
.nav-brand{
	width: 25%;
	height: 80px;
	float: left;
	position: relative;
}
.nav-link{
	font-weight: bold;
	font-size: 40px;
	text-decoration: none;
	color: black;
	display: inline-block;
	position: absolute;
}

.nav-menu{
	width: 75%;
	height: 80px;
	float: left;
}

.nav-menu ul{
	list-style: none;
}

.nav-menu ul li{
	display: inline-block;
}

.nav-menu ul li:hover{
	background-color: grey;
}

.nav-menu ul a{
	text-decoration: none;	
	color: black; 
}

.menu-item li{
	float: left;
	margin-left: 20px;
	margin-right: 40px;
}
.social-item .fa-facebook-square{
	color: #123884;
}
.social-item .fa-twitter-square{
	color: #35A1E9;
}
.social-item .fa-linkedin-square{
	color: #0033B2;
}
.social-item .fa-google-plus-square{
	color: red;
}


.slider{
	background-image: url("https://media.istockphoto.com/photos/background-media-blue-image-with-stock-market-investment-trading-picture-id1222507894");

    height: 400px;
    width: 100%;
    position: relative;
}

.slider-menu{
	height: 300px;
	width: 350px;
	background-color: rgba(152, 152, 152, 0.7);;
	padding: 0px 20px 0px 20px;
	position: absolute;
	left: 200px;
	top: 12.5%;
}

.slider-menu-item{
	margin-top: 60px;
}


button{
	background-color: #13C63A;
	padding: 5px;
	color: white;
	box-shadow: 2px 1px 0px grey;
	border-radius: 8px;
}

button:hover{
	background-color: green;
}


section{
	float: left;
	width: 100%;
}

.options{
	text-align: center;
	margin-top: 30px;
}
.option-1, .option-2, .option-3, .option-4{
	width: 25%;
	height: 250px;
	float: left;
}

.option-1 .fa, .option-2 .fa, .option-3 .fa, .option-4 .fa{
	border-radius: 50%;
}

.option-1 .fa{
	color: #9D7CCF;
}

.option-2 .fa{
	color: white;
	background-color: #40B290;
	width: 50px;
	padding: 5px;
}

.option-3 .fa{
	color: white;
	background-color: #24841D;
	width: 40px;
	padding: 13px;
}
.option-4 .fa{
	color: #8BE784;
}

.invest-blog{
	width: 1000px; 
	margin: 0 auto;
}
.invest h2{
	text-align: center;
}

.invest button{
	margin-left: 25px;
}

.invest li{
	margin-bottom: 10px;
}
.invest-1{
	width: 40%;
	height: 280px;
	background-color: #CDE5EA;
	margin-left: 40px;
	float: left;
}
.invest-2{
	width: 40%;
	height: 280px;
	margin-right: 40px;
	background-color: #CDE5EA;
	float: right;
}

.blog-header{
	color: #1D72AA;
	float: left;
	width: 100%;
	height: 50px;
	text-align: center;
	margin-bottom: 15px;
}
.blog-1{
	width: 50%;
	height: 200px;
	float: left;
}

.blog-2{
	width: 50%;
	height: 200px;
	float: left;
}
.blog-item{
	margin-left: 40px;
}
.blog-item h3{
	color: #1D72AA;
}

.lent{
	width: 100%;
	background-color: lightgrey;
	height: 200px;
	text-align: center;
	float: left;
}
.lent-item{
	margin-top: 30px;
}
.lent-item p{
	margin: 5px;
}
.lent-item span{
	padding: 2px;
	float: right;
	height: 20px;
	background-color: grey;
}
.rating{
	width: 100%;
	text-align: center;
	height: 150px;
	float: left;
}
.green{
	background-color: #13C63A;
	padding: 4px;
	color: white;
}
.head-icon{
	color: #13C63A;
}
.grey{
	background-color: grey;
	padding: 4px;
	color: white;
}

.section-3{
	background-color: grey;
}

.mention{
	background-color: grey;
	width: 100%;
	margin: 0 auto;
	height: 270px;
	float: left;
}
.mention-header{
	text-align: center;
	width: 100%;	
}
.mention-item{
	width: 20%;
	float: left;
}
.mention-item h1{
	color: white;
	width: 80%;
}

.copy{
	background-color: #0A2342;
	width: 100%;
	height: 100px;
	float: left;
	padding: 25px 0px 25px 0;
}
.cope{
	text-align: center;
	height: 100px;
	width: 500px;
	margin: 0 auto;
}
.copy-item{
	color: white;
	float: left;
	text-align: center;
	margin-right: 50px;
}