body{
	margin: 0;
	padding: 0;
}

header{
	width: 100%;
	float: left;
	background-color: purple;
	height: 500px;
}

.nav{
	height: 80px;
}

.logo{
	float: left;
	color: white;
	margin-left: 80px;
	line-height: 50px;
}

.menu-item a {
	text-decoration: none;
	color: white;
	font-size: 20px;
}

.menu-item li{
	list-style: none;
	display: inline-block;
	margin-right: 80px;
}

.menu-item{
	float: right;
	margin-right: 80px;
	line-height: 50px;
}

.head-content{
	width: 45%;
	text-align: center;
	color: white;
	margin: 0 auto;
	margin-top: 100px;
}

.head-content h1{
	text-align: center;
}

.head-content a{
	box-shadow: 0px 1px 0px orange;
	text-decoration: none;
	color: white;
	font-size: 20px;
	padding: 12px;
	background-color: tomato;
	display: inline-block;
	margin-top: 15px; 
	width: 150px;
}

section{
	float: left;
	width: 100%;
}

.services{
	background-color: skyblue;
	height: 530px;
}

.container{
	width: 80%;
	margin: 0 auto;
}
.section-header{
	text-align: center;
	margin-top: 30px;
	width: 100%;
	float: left;
}

.section-header hr{
	width: 100px;
	height: 2px;
	background-color: black;
	border:1px solid black;
}

.section-header p{
	width: 390px;
	display: inline-block;
}

.service-content{
	width: 25%;
	float: left;
	text-align: center;
	margin-top: 30px;
	color: #ffffff;
}

.team{
	background-color: lightgrey;
	height: 750px;
}

.team img{
	width: 250px;
	height: 250px;
}

.team h1{
	margin-bottom: 0px;
}
.designation{
	color: blue;
	margin-top: 0px;
}

.service-content i{
	margin-left: 10px;
	margin-right: 10px;
	padding: 10px;
	background-color: grey;
	border-radius: 50%;
}

.skills .service-content{
	color: black;
}

.skill-image{
	text-align: center;
	height: 150px;
	width: 150px;
	display: inline-block;
}

.image-1{
	background: url(../img/ui_blue.png)no-repeat;	
	background-size: cover;
}
.image-2{
	background: url(../img/ui_pink.png)no-repeat;
	background-size: cover;	
}
.image-3{
	background: url(../img/ui_green.png)no-repeat;	
	background-size: cover;
}
.image-4{
	background: url(../img/ui_orange.png)no-repeat;	
	background-size: cover;
}

.skill-image h4{
	line-height: 120px; 
}

.skills{
	height: 450px;
}

.portfolio{
	background-color: orange;
	height: 1100px;
}

.portfolio li{
	list-style: none;
	display: inline-block;
	background-color: #ffffff8f;
	padding: 10px;
	margin-right: 20px;
	color: white;
}

.portfolio .service-content{
	width: 50%;
}

.portfolio .service-content a{
	text-decoration: none;
	color: white;
	background-color: lightblue;
	padding: 20px;
	box-shadow: 0px 2px 1px grey;
}

.portfolio .button{
	width: 100%;
	margin-top: 70px;
}

.people{
	background-color: pink;

}

.client{
	width: 100%;
}

.client-item{
	width: 50%;
	float: left;
	color: white;
	margin-bottom: 40px;
}

.client-item img{
	height: 180px;
	width: 180px;
	float: left;
	margin-right: 30px;
}

.client-item h2{
	margin-bottom: 0px;
}

.client-item h5{
	margin-top: 0px;
	color: orange;
}

.client-info{
	margin-top: 50px;
}

footer{
	width: 100%;
	float: left;
	background-color: #273e9a;
	height: 480px;
}

footer .section-header{
	width: 100%;
	float: left;
}
footer .section-header p{
	text-align: center;
	width: 100%;
	margin-bottom: 0px;
}
#tel{
	margin-top: 0px;
}

.form{
	float: left;
	width: 100%;
	margin: 0 auto;
	margin-top: 20px;
	text-align: center;
}

.form form{
	width: 550px;
	margin: 0 auto;
}

#name, #email, #message{
	padding: 0;
	border: none;
	background-color: #0d2956;
}
#name{
	width: 49%;
	float: left;
	height: 25px;
}
#email{
	width: 49%;
	float: right;
	height: 25px;
}
#name{
	margin-right: 10px;
}

#message{
	margin-top: 10px;
	width: 100%;
	height: 150px;
}

footer .button a{
	text-decoration: none;
	background-color: skyblue;
	padding: 10px;
	width: 150px;
	box-shadow: 1px 3px 0px navy
}

footer .button{
	width: 100%;
	float: left;
	margin: 0 auto;
	text-align: center;
	margin-top: 40px;
}

.foot-menu{
	float: left;
	width: 100%;
	background-color: #363679;
}