body{
	background-image: url('../img/back.jpg');
	background-repeat: no-repeat;
	background-size: cover;
}

.container{
	width:700px;
	background: grey;
	margin: 10% auto;
}
.login-section{
	padding:25px;
}
.login-section img{
	height: 300px;
	width: 300px;
	margin: 0px auto;
	display: block;
}
.login-section h2{

	text-align: center;
}
.form-control{

	width: 98%;

	padding: 6px;

	margin-bottom: 10px;
}
.btn{

	margin: 0 auto;

	display: block;

	padding: 5px;

	width: 100px;

	box-shadow: 0.5px 0.5px;

	border-radius: 5px;
}